
.details-card {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    color: black;
  }
  
  .details-img {
    width: 15rem;
    height: 23rem;
  }
  
  .details-body {
    padding: 15px;
  }
  
  .details-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  
  .details-text {
    margin-bottom: 0.75rem;
  }
  
  .details-secondary {
    color: #aaa;
  }
  
   